.toolbar_color {
background-color: rgb(3, 37, 38);
}

mat-toolbar{
margin-bottom: 10vh;
height: 8vh;
}

.white-text {
color: white !important;
}

.example-spacer {
flex: 1 1 auto;
}

.center-text {
margin: 0 auto;
/* text-align: center; */
}

.bigger-text {
font-size: larger;
}

.manage-menu-btn {
width: 100% !important;
text-align: right;
}

.mat-menu-panel {
width: 20% !important;
}
