<div class="page">
     <button mat-raised-button routerLink="/certifs-overview" routerLinkActive="active">View all certificates</button>
     <button mat-raised-button routerLink="/req-overview" routerLinkActive="active">Your certificate requests overview</button>
     <button mat-raised-button routerLink="/manage-req" routerLinkActive="active">Manage requests for new certificates from your certificates</button>
     <button mat-raised-button routerLink="/create-req" routerLinkActive="active">Create certificate request</button>
     <button mat-raised-button routerLink="/validate" routerLinkActive="active">Check validity</button>
</div>