form {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.mat-button-toggle-group {
    margin-bottom: 2vh;
}

re-captcha.is-invalid > div {
    border: 1px solid #dc3545 !important;
    border-radius: 0.2rem;
  }