<div class="page">
    <h2>Manage received certificate requests</h2>
    <mat-divider></mat-divider>
    <div class="grid">
        <div *ngFor="let req of requests">
            <mat-card>
                <mat-card-header class="locations" >
                    <div class="">
                        <p><b>{{req.status}}</b> Request</p>
                        <mat-card-title>For {{req.certificateType}} certificate</mat-card-title>
                        <p>To be signed by certificate with <b>Serial number: </b> {{req.issuerSN}}</p>
                        <p><b>From requester: </b> {{req.requesterEmail}}</p>
                    </div>
                    </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <p><b>Details</b></p>
                    <p >Created at: {{req.creationTime}}</p>
                    <p>Certificate to expire at: {{req.expirationTime}}</p>
                    <p>Description: {{req.description}}</p>
                    <button mat-button id="btn-approve">Approve</button>
                    <button mat-button id="btn-decline">Decline</button>

                    <mat-expansion-panel (opened)="panelOpenCondition" >
                        <mat-expansion-panel-header>
                            <mat-button-toggle-group #group="matButtonToggleGroup" name="choice" aria-label="TimeFrame" value="ACCEPT" (change)="onChoiceToggleValChange(group.value)">
                                <mat-button-toggle value="ACCEPT">Accept</mat-button-toggle>
                                <mat-button-toggle value="DECLINE">Decline</mat-button-toggle>
                            </mat-button-toggle-group>
                        </mat-expansion-panel-header>
                        <input matInput type="text" name="decline" formControlName="declineReason" />
                    </mat-expansion-panel>

                </mat-card-content>
                <mat-card-actions align="end">
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> 