<form [formGroup]="refreshPasswordForm" (ngSubmit)="refresh()">
  <label>New password</label>
  <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" name="pass" formControlName="pass" />
  </mat-form-field>
  <label>Confirm password</label>
  <mat-form-field class="oneLine">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" name="confirmPass" formControlName="confirmPass" />
  </mat-form-field>
  <p>{{errorMsg}}</p>
  <button type="submit" mat-raised-button>Refresh</button>
</form>
